<header>
    <nav>
        <%= link_to "Contact", contact_path, class: "nav-link" %>
        <%= link_to "Team", team_path, class: "nav-link" %>
    </nav>
</header>
<h1>Tous les Gossips</h1>
<p>Voici la liste de tous les gossips</p>

<%= link_to "Créer un nouveau gossip", new_gossip_path %>

<div id="gossips">
    <% @gossips.each do |gossip| %>

    <div>
        <a href="/gossips/<%= gossip.id %>">
            <%= gossip.title %>
        </a>
        <a href="/gossips/<%= gossip.id %>">
            <%= gossip.content %>
        </a>

    </div>
    <% end %>
</div>